<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="PartnerServiceSettings" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="UserAuthentication" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="AppAuthentication" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="ScenarioSettings" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>

  <!-- Groups settings related to remote endpoints needed to access the partner API service -->
  <PartnerServiceSettings>
    <add key="PartnerServiceApiEndpoint" value="https://api.partnercenter.microsoft.com"/>
    <add key="AuthenticationAuthorityEndpoint" value="https://login.windows.net"/>
    <add key="GraphEndpoint" value="https://graph.windows.net"/>
    <add key="CommonDomain" value="common"/>
  </PartnerServiceSettings>

  <UserAuthentication>
    <!-- The active directory application ID used by the user login, paste your application ID here. -->
    <add key="ApplicationId" value=""/>
    <!-- The resource the application is attempting to access i.e. the partner API service. -->
    <add key="ResourceUrl" value="https://api.partnercenter.microsoft.com"/>
    <add key="RedirectUrl" value="http://localhost"/>
    <!-- The active directory user credentials, paste your credentials here. -->
    <add key="UserName" value=""/>
    <add key="Password" value=""/>
  </UserAuthentication>

  <AppAuthentication>
    <!-- The active directory application ID used by the application login, paste your application ID here. -->
    <add key="ApplicationId" value=""/>
    <!-- The active directory application secret used by the application login, paste your application secret here. -->
    <add key="ApplicationSecret" value=""/>
    <!-- The active directory domain on which the application is hosted. Paste your domain here. -->
    <add key="Domain" value=""/>
  </AppAuthentication>

  <!-- Holds samples settings -->
  <ScenarioSettings>
    <!-- The domain suffix to use when creating a new customer -->
    <add key="CustomerDomainSuffix" value="onmicrosoft.com" />
    <!-- The ID of the customer to delete from the TIP account, leave empty to prompt user to enter it -->
    <add key="CustomerIdToDelete" value="" />
    <!-- The ID of the customer to use for customer related samples, leave empty to prompt user to enter it -->
    <add key="DefaultCustomerId" value="" />
    <!-- The number of customers to retrieve per page -->
    <add key="CustomerPageSize" value="100" />
    <!-- The number of invoices to retrieve per page -->
    <add key="InvoicePageSize" value="100" />
    <!-- The default Invoice ID of partner, leave empty to prompt user to enter it -->
    <add key="DefaultInvoiceId" value=""/>
    <!-- The partner MPN ID to use in indirect partner samples, leave empty to prompt user to enter it -->
    <add key="PartnerMpnId" value="" />
    <!-- The service request ID to use in service request samples, leave empty to prompt user to enter it -->
    <add key="DefaultServiceRequestId" value="" />
    <!-- The number of service requests to retrieve per page -->
    <add key="ServiceRequestPageSize" value="100" />
    <!-- The support topic ID to use in service request samples, leave empty to prompt user to enter it -->
    <add key="DefaultSupportTopicId" value="" />
    <!-- The partner MPN ID to use in indirect partner samples, leave empty to prompt user to enter it -->
    <add key="PartnerMpnId" value="" />
    <!-- The number of offers to return per page -->
    <add key="DefaultOfferPageSize" value="20" />
    <!-- The offer ID to use in offer scenarios, leave empty to prompt user to enter it -->
    <add key="DefaultOfferId" value="" />
    <!-- The order ID to use in order scenarios, leave empty to prompt user to enter it -->
    <add key="DefaultOrderId" value="" />
    <!-- The subscription ID to use in subscription scenarios, leave empty to prompt user to enter it -->
    <add key="DefaultSubscriptionId" value="" />
    <!-- The number of subscriptions to retrieve per page -->
    <add key="SubscriptionPageSize" value="20" />
  </ScenarioSettings>
</configuration>